/* App.css */
.App {
  font-family: Arial, sans-serif;
}

/* Navbar Styling */
.navbar {
  background-color: #007acc;
  padding: 10px;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin: 0 15px;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.navbar-menu a:hover {
  text-decoration: underline;
}
 